<%= form_for [@user, @event], html: { multipart: true } do |f| %>

  <div class="field form-group">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: '10', autofocus: true, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :date %>
    <%= date_select :event, :start_date%>
  </div>

  <div class="field form-group">
    <%= f.label :date %>
    <%= date_select :event, :end_date  %>
  </div>

  <%= f.file_field :image %>
  <%= f.submit class: "btn btn-success" %>
<% end %>
