
<div class="container">
  <h1><%= @event.title %></h1>
  <% if @locations.any? %>
    <ul class="list-group">
      <li class="list-group-item"id="map"></li>
      <% @locations.each do |location| %>
        <li class="list-group-item clearfix">
          <h4><%= location.name %></h4>
          <div class="col-xs-6">
            <% if location.guests.any? %>
            <h6>Staying Here:<h6>
              <% location.guests.each do |guest| %>
              <h6><%= guest.user.first_name %> <%= guest.user.last_name %>, Room <%= guest.rooms.where(location_id: location.id).first().room_number %></h6>
              <% end %>
              <h6>
            <% end %>
          </div>
          <div class="col-xs-6">
            <h6>Price:<h6>
          </div>
        </li>

      <% end %>
    </ul>
  <% else %>
    <h3>You have no locations for this event</h3>
  <% end %>
</div>

<div class="container">
  <h1>Guest List</h1>
  <% if @guests.any? %>
    <ul>
      <% @guests.each do |guest| %>
      <% if guest == @user %>
        <li> <%= guest.first_name %>  <button type="btn btn-info" name="button" data-toggle="tooltip" title="Add Your Travel Plans">+</button></li>
      <% else %>
        <li> <%= guest.first_name %></li>
      <% end %>
      <% end %>
    <% else %>
    <p>No Guests Yet</p>
    </ul>
  <% end %>

  <div class="guest">
    <% if @user == @event.user %>
      <h3>Add Guest</h3>
      <%= form_tag  invite_guest_path do %>
        <div class="form-group">
            <%= label_tag 'name', 'Guest Name' %>
            <%= text_field_tag 'name' %>
        </div>
        <div class="form-group">
            <%= label_tag 'email', ' Guest Email' %>
            <%= email_field_tag 'email' %>
        </div>
        <%=hidden_field_tag :event_id, params[:id] %>
        <%= submit_tag "Invite Guest", class: 'btn btn-default' %>
        <% end %>
    <% end %>
    </div>

</div>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(15);
  });
</script>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
