<div class="row">
  <h1 class="text-center"><%= @event.title %></h1>
  <br>
  <div class="col-md-6">
    <div class="well event-description">
      <span class="description-header">Event Description</span>
      <p><%= @event.description %></p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <ul class="event-details">
        <li><strong>Starts</strong>: <%= @event.start_date.strftime("%m/%d/%Y at %I:%M%p") %></li>
        <li><strong>Ends</strong>: <%= @event.end_date.strftime("%m/%d/%Y at %I:%M%p") %></li>
        <% if @event.locations.any? %>
          <li><strong>Located At</strong>: <%= @event.locations.first.name %></li>
        <% else %>
          <li>No location set</li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h1>Guest locations</h1>
    <% if @event.locations.any? %>
      <ul class="list-group">
        <li class="list-group-item"id="map"></li>
      </ul>
    <% else %>
      No locations listed yet!
    <% end %>
  </div>

  <div class="col-md-4">
    <h1 class="white">Guest List</h1>
    <% if @guests.any? %>
    <div class="panel panel-success">
      <div class="panel-heading"><h3>Guests</h3></div>
      <ul class="list-group guest-list">
        <% @guests.each do |guest| %>
          <% if guest == @user && current_user %>
            <li class="list-group-item">
              <%= guest.first_name %> <%= guest.last_name %>
              <%= link_to "Add My Travel Plans", new_event_location_path(@event), class: "btn btn-success pull-right btn-xs", id: "add-button" %>
            </li>

          <% else %>
            <li class="list-group-item"> <%= guest.first_name %> </li>
          <% end %>
        <% end %>
    </div>
      <% else %>
      <p>No Guests Yet</p>
      </ul>
      <% end %>

    <div class="add-guest">
      <% if @user == @event.user %>
        <h3 class="text-center">Add Guest</h3>
        <div class="text-center">
          <%= form_tag invite_guest_path do %>
            <div class="row">
              <div class="form-group col-md-6">
                <%= text_field_tag 'name', nil, placeholder: 'Guest Name', class: 'form-control' %>
              </div>
              <div class="form-group col-md-6">
                <%= email_field_tag 'email', nil, placeholder: 'Guest Email', class: 'form-control' %>
              </div>
              <%=hidden_field_tag :event_id, params[:id] %>
              <%= submit_tag "Invite Guest", class: 'btn btn-default' %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<br>

<div class="row">
  <% if @locations.any? %>
    <% @locations.each do |location| %>
      <li class="list-group-item clearfix">
        <div class="col-xs-3 table-location-name">
          <%= location.name %>
        </div>
        <div class="col-xs-3 table-location-name">
          <button type="button" data-toggle="modal" data-target="#location-modal-<%=location.id%>" class="btn btn-success">Who's staying here?</button>

          <!-- Modal -->
          <div id="location-modal-<%=location.id%>" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h3 class="modal-title"><%= location.name %></h3>
                </div>
                <div class="modal-body">
                  <ul class="list-group">
                    <% location.guests.each do |guest| %>
                      <li class="list-group-item">
                        <span class="modal-guest-name">
                          <%= guest.user.first_name %> <%= guest.user.last_name %>
                        </span>
                        <span class="modal-room pull-right">
                          Room <%= guest.rooms.where(location_id: location.id).first().room_number %>
                        </span>
                      </li>
                    <% end %>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              <!-- <% location.guests.each do |guest| %>
              <h6><%= guest.user.first_name %> <%= guest.user.last_name %>, Room <%= guest.rooms.where(location_id: location.id).first().room_number %></h6>
              <% end %> -->
            </div>
          </div>
        </div>
        <div class="col-xs-6 locations-right-table">
          <% if @guest && !@guest.rooms.where(event_id: @event.id).any? %>
            <span class="estimated-price">Estimated Price for <%= distance_of_time_in_words(@event.start_date, @event.end_date) %>: <strong><%= @prices[location.name]['price'] %></strong></span>
            <% if @prices[location.name]['query'] %>
              <a href=<%= @prices[location.name]['query'] %> target="_blank"><button type="button" class="btn btn-primary pull-right">Book now</button></a>
            <% end %>
          <% end %>
        </div>
      </li>
    <% end %>
  <% else %>
    <h3>You have no locations for this event</h3>
  <% end %>
  <br>
</div>

<div class="find-hotels text-center">
  <h2>Not seeing a place you want to stay? Click here for a different hotel in the area!</h2>
    <span class="find-hotels-button">
      <button type="button" class="btn btn-primary" id="apiButton">Find Hotels</button>
    </span>
</div>

<br>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap();
  });

  $('#apiButton').click(function(){
    var loc = window.Locations = <%= (@locations.first.to_json.html_safe) %>;
    var start = window.Event = <%= (@start.to_json.html_safe) %>;
    var end = window.Event = <%= (@end.to_json.html_safe) %>;
    var address = loc["street"];
    var zip = loc["zip"];
    var url = "https://www.expedia.com/Hotel-Search?#destination=" + address + zip + "&startDate=" + start + "&endDate=" + end;
    window.open(url, "_blank");
  });
</script>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
