<div class="row">
  <div class="col-md-8">
    <h1 class="white"><%= @event.title %></h1>
    <% if @locations.any? %>
      <ul class="list-group">
        <li class="list-group-item"id="map"></li>
        <% @locations.each do |location| %>
          <li class="list-group-item">
          <h4><%= location.name %></h4>
            <% if location.guests.any? %>
            <h6>Staying Here:</h6>
              <% location.guests.each do |guest| %>
              <h6><%= guest.user.first_name %> <%= guest.user.last_name %>, <%= guest.rooms.where(location_id: location.id).first().start_date.strftime("%a, %b %e") %> to <%= guest.rooms.where(location_id: location.id).first().end_date.strftime("%a, %b %e") %>, Room <%= guest.rooms.where(location_id: location.id).first().room_number %></h6>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <h3>You have no locations for this event</h3>
    <% end %>
  </div>
  <div class="col-md-4">
    <h1 class="white">Guest List</h1>
    <% if @guests.any? %>
    <div class="panel panel-success">
        <div class="panel-heading"><h3>Guests</h3></div>
      <ul class="list-group">
        <% @guests.each do |guest| %>
        <li class="list-group-item"> <%= guest.first_name %> </li>
        <% end %>
    </div>
      <% else %>
      <p>No Guests Yet</p>
      </ul>
      <% end %>

    <div class="guest">
      <% if @user == @event.user %>
        <h3 class="white text-center">Add Guest</h3>
        <div class="text-center">
          <%= form_tag  invite_guest_path do %>
            <div class="row">
              <div class="form-group col-md-6">
                <%= text_field_tag 'name', nil, placeholder: 'Guest Name', class: 'form-control' %>
              </div>
              <div class="form-group col-md-6">
                <%= email_field_tag 'email', nil, placeholder: 'Guest Email', class: 'form-control' %>
              </div>
              <%=hidden_field_tag :event_id, params[:id] %>
              <%= submit_tag "Invite Guest", class: 'btn btn-default' %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(15);
  });
</script>
