<%= form_for [ @event, @location], :id => "search", html: { multipart: true } do |f| %>
  <div class="field form-group">
    <%= f.label :name, "Venue Name" %>
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= text_field_tag :search, params[:search], class: "form-control input-lg", placeholder: "Enter Venue Address", id: "search-text-field" %>
  </div>
  <%= f.submit class: "btn btn-success" %>

<% end %>


<script type="text/javascript">
function autoComplete() {
  var input = document.getElementById('search-text-field');
  var options = {
          types: ['address'],
          componentRestrictions: {country: 'us'}
        };
  var autocomplete = new google.maps.places.Autocomplete(input, options);
  // When the user selects an address from the dropdown, populate the address
  // fields in the form.
  autocomplete.addListener('place_changed', autocomplete.getPlace());
}
</script>

  <script  src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=drawing,places&callback=autoComplete"></script>
